body {
    margin: 0;
   }
    
   header {
    background-color: #f6e4f6;
    padding: 1em;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px #732673;
   }
    
   header a {
    color: #732673;
   }
    
   section {
    background-color: #d1f0de;
    padding: 1em;
    margin-bottom: 10px;
    box-shadow: 0px 2px 3px #2e8b57;
   }
    
   h2 {
    margin-top: 0;
   }
    
   .words p {
    border: 2px solid #2e8b57;
    background-color: white;
    padding: 1em;
    margin: 2px;
   }
  
   @media screen and (min-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-left: 1em;
        padding-right: 1em;
   }
   .nouns {
    display: flex;
    justify-content: flex-start;
   }
   .adjectives {
    display: flex;
    justify-content: flex-end;
   }
   } 
   @media screen and (min-width: 992px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

   }