h1 {
    color:crimson;
    font-family:sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
}
h2 {
    color:crimson;
    font-family:sans-serif;
    border-bottom-width: 4px;
    border-bottom-style:dotted;
    border-bottom-color:crimson;
}
h3 {
    color:crimson;
    font-family:sans-serif;
}
a {
    color: crimson; 
}
.overview {
    font-style:italic;
}
header {
    background-color:#eee;
    padding: 10px;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color:silver;
}
footer {
    background-color:#eee;
    padding: 10px;
    border-top-width: 1px;
    border-top-style:solid;
    border-top-color:silver;
}
.footer h3 {
    margin-top: 0;
}
body {
    margin: 0;
}
.numbers-box {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    background-color: white;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.color-box-1,
.color-box-2,
.color-box-3,
.color-box-4 {
    height: 25px;
    width: 25px;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    position: absolute;
}
.color-box-1 {
    background-color: yellowgreen;
    top: 0;
    left: 0;
}
.color-box-2 {
    background-color: orange;
    top: 0;
    right: 0;
}
.color-box-3 {
    background-color: skyblue;
    bottom:0;
    left: 0; 
}
.color-box-4 { 
    background-color: violet;
    bottom:0;
    right:0;
}
#profile-pic {
    height: 200px; 
    background-color: white;
    border: 2px solid silver;
    padding: 2px; 
    float: right;
    margin-left: 10px;
}
#joke {
    width: 50%;
    border: 2px solid silver;
    border-bottom: 4px solid crimson;
    padding:5px;
    margin: 50px;
    margin-left: 225px;
    text-align: center;
    top: 50%;
    left: 50%;
    translate: (-50%,-50%);
}
table, th, td {
    border: 2px solid silver;
    text-align:center;
    padding:5px;
    border-collapse: collapse;
}
.nav-list {
    list-style-type: none;
    padding: 0;
}
.nav-list li {
    display:inline;
    margin-right: 5em;
}
footer li img {
    width: 16px;
}